$CodGray-5: #0C0C0C;
$CaribbeanGreen-43: #10CB8A;
$Woodsmoke-9: #171819;
$Shark-19: #2D2F33;
$TiaMaria-43: #CC3410;
$Jumbo-48: #78797F;
$White-100: #FFFFFF;
$Black-0: #000000;
$Abbey-27: #444448;
$Thunderbird-45: #CD3816;
$Alto-88: #E0E0E0;
$MidGray-40: #61626C;
$QuickSilver-65: #A5A5A5;
$Emperor-31: #4F4F4F;
$BottleGreen-15: #0D3D2C;